/*------------- CONOCENOS ----------------*/

/*------------- SECCION HISTORIA ----------------*/

#historia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    flex-direction: column;
    height: 100vh;
}

#historia > h2 {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.card {
    height: 80%;
    display: flex;
    margin-bottom: 100px;
}

.card figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    height: 100%;
    width: 100%;
}

.card figure img {
    object-fit: cover;
    object-position: 90% 50%;
    width: 70%;
    height: 70%;
    padding: 10px;
}

.card .texto {
    width: 100%;
    flex-direction: column;
    display: flex;
    margin: auto 100px auto 50px;
}

.texto > p {
    margin-bottom: 2%;
}

/*------------- END SECCION HISTORIA ----------------*/

/*------------- SECCION PERSONAL ----------------*/

#personal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 8%;
    flex-direction: column;
}

#personal > h2 {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 10%;
}

.barber {
    display: flex;
    align-items: center;
    justify-content: center;
}

.barber figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    height: 4%;
    width: 40%;
}

.barber #barber2 {
    margin-right: 10%;
    margin-left: 0;
}

.barber figure img {
    object-fit: cover;
    object-position: 90% 50%;
    width: 60%;
    height: 60%;
    padding: 10px;
}

.barber .texto {
    width: 50%;
    flex-direction: column;
    display: flex;
    margin: auto 100px auto 100px;
}

.texto > p {
    margin-bottom: 2%;
}

@media screen and (max-width: 900px) {
    .barber {
        flex-direction: column;
    }

    #personal {
        flex-direction: column;
    }

    .card {
        flex-direction: column;
    }
}

/*------------- END SECCION PERSONAL ----------------*/

/*------------- END CONOCENOS ----------------*/
