/*------------- CONOCENOS ----------------*/

section {
    padding: 1.5rem 15vw;
}
/*------------- SECCION HISTORIA ----------------*/

#historia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-primary);
}

.card {
    height: 80%;
    display: flex;
    margin-bottom: 100px;
}

.card figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.card figure img {
    object-fit: cover;
    object-position: 90% 50%;
    width: 70%;
    height: 70%;
    padding: 10px;
}

.card .texto {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto > p {
    margin-bottom: 2%;
}

/*------------- END SECCION HISTORIA ----------------*/

/*------------- SECCION PERSONAL ----------------*/

#personal {
    background-color: var(--color-light);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.barber {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
}

.barber figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4%;
    width: 40%;
    margin: 0 2rem;
}

.barber-reverse {
    flex-direction: row-reverse !important;
}

.barber figure img {
    width: 30vw;
    height: 60%;
}

.barber .texto {
    margin-top: 1rem;
    flex-direction: column;
    display: flex;
}

.texto > p {
    margin-bottom: 2%;
}

@media screen and (max-width: 900px) {
    .barber {
        flex-direction: column;
    }

    .barber-reverse {
        flex-direction: column !important;
    }

    .barber h3 {
        align-self: center;
    }

    .barber figure img {
        width: 50vw;
    }

    #personal {
        flex-direction: column;
    }

    .card {
        flex-direction: column;
    }
}

/*------------- END SECCION PERSONAL ----------------*/

/*------------- END CONOCENOS ----------------*/
