* {
    margin: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: clamp(16px, 1vw, 32px);
    font-family: "Open Sans";
    font-family: Helvetica, Geneva, Tahoma, sans-serif;
}

/*------------- HEADER ----------------*/
header {
    background-image: url(../media/images/background.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: max(15rem, 45vh);
}

header::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.33);
}

/*------------- END HEADER ----------------*/

/*------------- NAVBAR ----------------*/
.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 10px;
    z-index: 1000;
}

.nav-active {
    background-color: white;
}

.nav-active .nav-links li a {
    color: black;
}

.nav-active .nav-links li:not(:last-child):hover,
.nav-active .nav-links li:hover > a {
    background-color: black;
    border-radius: 20px;
    color: white;
}

#toggle {
    color: white;
    background: none;
    border: none;
    display: none;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.nav-links li {
    padding: 0px 20px;
}

.nav-active #reserva a {
    background-color: black;
    color: white;
}

#reserva a {
    color: black;
    background-color: white;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    transition: transform 0.1s ease;
}

.nav-active #reserva > a:hover {
    transform: scale(1.2);
    color: white;
    background-color: black;
}

#reserva > a:hover {
    transform: scale(1.1);
    color: bisque;
    background-color: gray;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}

.nav-links li:hover,
.nav-links li:hover > a {
    transform: scale(1.1);
    color: bisque;
}

@media (max-width: 768px) {
    .navbar {
        align-items: normal;
        height: 90px;
    }

    .nav-links {
        flex-direction: column;
        margin-right: 40px;
        background-color: #2e2e2d;
        position: fixed;
        left: 100%;
        top: 90px;
        width: 100%;
        align-items: center;
        padding: 20px 0;
        transition: left 0.4s;
    }
    .nav-links li {
        padding-top: 10px;
    }
    .nav-active .nav-links li a {
        color: white;
    }

    #reserva a {
        color: white;
        background-color: inherit;
        padding: 0;
        border-radius: 0;
        border: none;
        transition: none;
    }

    #reserva > a:hover {
        transform: scale(1.1);
        color: bisque;
        background-color: inherit;
    }

    .nav-active #reserva > a:hover {
        transform: scale(1.2);
        color: black;
        background-color: inherit;
    }

    .nav-active .nav-links li:not(:last-child):hover,
    .nav-active .nav-links li:hover > a {
        background-color: inherit;
        border-radius: 0;
        color: black;
    }

    .nav-active #reserva a {
        background-color: inherit;
        color: white;
    }

    .nav-active #toggle {
        color: black;
    }
    #toggle {
        display: block;
    }

    .visible {
        left: 0;
    }
}

/*------------- END NAVBAR ----------------*/

h1 {
    font-size: clamp(1rem, 3vw + 0.5rem, 3rem);
    position: absolute;
    bottom: 60px;
    left: 60px;
    align-self: flex-end;
    color: white;
    border-bottom: 3px solid white;
    width: min(50%, 40rem);
}

h2 {
    font-size: clamp(1rem, 2.5vw + 0.5rem, 3rem);
    display: flex;
    margin: 1rem auto 0;
    align-items: flex-start;
    margin-bottom: 3rem;
}

h3 {
    font-size: clamp(1rem, 1vw + 0.5rem, 3rem);
    display: flex;
    align-items: flex-start;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    margin-bottom: 1rem;
}

/*------------- LOGO ----------------*/
.logo {
    width: 4rem;
    min-width: 50px;
    height: auto;
    margin: 0 0.5rem;
    transition: all 0.3s;
}

.logo:hover {
    transform: scale(1.1);
}

/*------------- END LOGO ----------------*/

/*------------- GALERIA ----------------*/

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

main {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-auto-flow: dense;
    gap: 45px;
    padding: 30px;
}

@media (min-width: 600px) {
    .ancho {
        grid-column: span 2;
    }

    .alto {
        grid-row: span 2;
    }
}

/*------------- END GALERIA ----------------*/

.footer {
    background-color: #2e2e2d;
    height: 20vh;
    height: max(10rem, 20vh);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.footer * {
    color: #a2a29d;
}

.footer ul {
    list-style: none;
}

.social-links {
    display: flex;
    flex-direction: row;
}

.footer-links {
    display: flex;
}

.links-block {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    justify-content: center;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    color: bisque;
}

.social-links > li {
    margin: 0.5rem;
}

.icon {
    width: 2rem;
}

.icon:hover {
    transform: scale(1.1);
}
