/*------------- HEADER ----------------*/
#background-video {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
}

header.home-header {
    color: var(--color-light);
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    background-image: none;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

header.home-header::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.33);
}
/*------------- END HEADER ----------------*/

hgroup.home-title {
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 30%;
    color: var(--color-secondary);
}

hgroup.home-title h1 {
    font-size: clamp(1rem, 3vw + 0.5rem, 3rem);
    position: relative;
    color: var(--color-secondary);
    border-bottom: 3px solid var(--color-secondary);
    width: 100%;
    left: 0;
    bottom: 2rem;
}

hgroup.home-title p {
    font-size: clamp(1rem, 1.5vw + 0.5rem, 3rem);
    margin: 1rem auto 0;
    margin-bottom: 3rem;
}

.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 2s;
    animation-fill-mode: both;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
/*------------- MAIN  ----------------*/

.servicios {
    display: flex;
    background-color: var(--color-primary);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-light);
    padding: 3rem 0;
}

.carrusel {
    display: flex;
    width: 95vw;
    flex-flow: row nowrap;

    /*overflow */
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carrusel a {
    color: inherit;
    display: block;
    text-decoration: none;
    margin: 1.5rem;
}

.carrusel-links li {
    display: inline-flex;
}
.carrusel-links li a {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 0.25rem double black;
    background-color: var(--color-secondary);
    margin: 0 0.25rem;
}

.carrusel-links a:hover {
    transform: scale(1.1);
}

.service-card {
    width: 30vw;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    padding: 1.5rem;

    /*Scrollling */
    scroll-snap-align: center;
}

.service-card:hover,
.barber-card:hover {
    filter: contrast(1.1) brightness(1.1);
    transform: scale(1.01);
}

@media screen and (max-width: 768px) {
    .carrusel {
        flex-flow: row wrap;
        justify-content: center;
        overflow-x: none;
    }
    .service-card {
        min-width: 40vw;
        height: 40vh;
        margin: 0.5rem;
    }
    .carrusel-links {
        display: none;
    }
}

section.equipo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3rem 0;
}

section.equipo ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .barber-card img {
        height: 35vh;
    }
}

.barber-card img {
    max-height: 65vh;
    margin: 1.5rem 0;
}

.barber-card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem;
    padding-bottom: 1rem;
}
.barber-card a {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.barber-card figcaption {
    font-size: clamp(1rem, 2vw + 0.5rem, 1.5rem);
}

/*------------- END SERVICIOS ----------------*/
