/*------------- PRECIOS ----------------*/

section {
    column-count: 2;
    padding: 8rem 1rem 1rem 1rem;
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    column-gap: 20px;
}

#tintes {
    margin-bottom: 10%;
}

.texto {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(50%);
}

section ul li {
    column-count: 2;
}

section figure {
    height: auto;
    width: 100%;
    text-align: center;
}
section figure img {
    margin: 0 auto;
    object-fit: cover;
    object-position: 80% 50%;
    width: 50%;
    height: auto;
    padding: 10px;
}

/*------------- END PRECIOS ----------------*/
