* {
    margin: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: clamp(16px, 1vw, 32px);
    font-family: "Open Sans";
    font-family: Helvetica, Geneva, Tahoma, sans-serif;
}

/*------------- HEADER ----------------*/
header {
    background-image: url(../media/images/background.jpg);
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: max(15rem, 45vh);
    padding: 10px;
}

header::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.33);
}
/*------------- END HEADER ----------------*/

/*------------- NAVBAR ----------------*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-links {
    list-style: none;
    margin-left: auto;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}

.nav-links li:hover,
.nav-links li:hover > a {
    transform: scale(1.1);
    color: bisque;
}

.reserva {
    padding: 0 20px;
}

.reserva a {
    display: inline-block;
    padding: 5px 15px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    transition: transform 0.1s ease;
}

.reserva > a:hover {
    transform: scale(1.1);
    color: bisque;
    background-color: gray;
}
/*------------- END NAVBAR ----------------*/

h1 {
    font-size: clamp(1rem, 3vw + 0.5rem, 3rem);
    position: relative;
    display: flex;
    align-items: flex-end;
    color: white;
    border-bottom: 3px solid white;
    width: min(50%, 40rem);
    margin: 0 0 3rem 4rem;
}

h2 {
    font-size: clamp(1rem, 2.5vw + 0.5rem, 3rem);
    display: flex;
    margin: 1rem auto 0;
    align-items: flex-start;
    margin-bottom: 3rem;
}

h3 {
    font-size: clamp(1rem, 1vw + 0.5rem, 3rem);
    display: flex;
    align-items: flex-start;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    margin-bottom: 1rem;
}

/*------------- LOGO ----------------*/
.logo {
    width: 4rem;
    min-width: 50px;
    height: auto;
    margin: 0 0.5rem;
    transition: all 0.3s;
}

.logo:hover {
    transform: scale(1.1);
}

/*------------- END LOGO ----------------*/


/*------------- PRECIOS ----------------*/


section{
    column-count: 2;
    padding: 8rem 1rem 1rem 1rem;
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    column-gap: 20px;
}

#tintes{
    margin-bottom: 10%;
}

.texto{
    display: inline-block;
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(50%);
}

section ul li{
    column-count: 2;
}

section figure{
    height: auto;
    width: 100%;
    text-align: center;
}
section figure img{
    margin: 0 auto;
    object-fit: cover;
    object-position: 80% 50%;
    width: 50%;
    height: auto;
    padding: 10px;
}





/*------------- END PRECIOS ----------------*/

.footer {
    background-color: #2e2e2d;
    height: 20vh;
    height: max(10rem, 20vh);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.footer * {
    color: #a2a29d;
}

.footer ul {
    list-style: none;
}

.social-links {
    display: flex;
    flex-direction: row;
}

.footer-links {
    display: flex;
}

.links-block {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    justify-content: center;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    color: bisque;
}

.social-links > li {
    margin: 0.5rem;
}

.icon {
    width: 2rem;
}

.icon:hover {
    transform: scale(1.1);
}
