* {
    margin: 0px;
    box-sizing: border-box;
    font-size: clamp(16px, 1vw, 32px);
    font-family: "Open Sans";
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    font-family: Helvetica, Geneva, Tahoma, sans-serif;
}

header {
    background-image: url(../media/images/background.jpg);
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: max(15rem, 40vh);
    padding: 10px;
}

header::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.33);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.titulo {
    font-size: clamp(1rem, 3vw + 0.5rem, 3rem);
    position: relative;
    display: flex;
    align-items: flex-end;
    color: white;
    padding-bottom: 10px;
    padding-left: 10px;
}

.logo {
    width: 4rem;
    min-width: 50px;
    height: auto;
    transition: all 0.3s;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-links {
    list-style: none;
    margin-left: auto;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}

.nav-links li:hover,
.nav-links li:hover > a {
    transform: scale(1.1);
    color: bisque;
}

.reserva {
    padding: 0 20px;
}

.reserva a {
    display: inline-block;
    padding: 5px 15px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    transition: transform 0.1s ease;
}

.reserva > a:hover {
    transform: scale(1.1);
    color: bisque;
    background-color: gray;
}
