@import url("./styles/navbar.css");
@import url("./styles/footer.css");

* {
    margin: 0px;
    box-sizing: border-box;
    font-size: clamp(16px, 1vw, 32px);
    font-family: "Open Sans";
    font-family: Helvetica, Geneva, Tahoma, sans-serif;
}

/*------------- HEADER ----------------*/
header {
    background-image: url(../media/images/background.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: max(15rem, 45vh);
}

header::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.33);
}

/*------------- END HEADER ----------------*/

/*------------- HEADINGS ----------------*/

h1 {
    position: absolute;
    bottom: 60px;
    left: 60px;
    font-size: clamp(1rem, 3vw + 0.5rem, 3rem);
    color: #debe66;
    border-bottom: 3px solid #debe66;
    width: min(50%, 40rem);
}

h2 {
    font-size: clamp(1rem, 2.5vw + 0.5rem, 3rem);
    margin-bottom: 3rem;
}

h3 {
    font-size: clamp(1rem, 1vw + 0.5rem, 3rem);
    display: flex;
    align-items: flex-start;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    margin-bottom: 1rem;
}

strong {
    color: #debe66;
}
/*------------- END HEADINGS ----------------*/

ul li {
    list-style: none;
}
ul {
    padding: 0;
}

/*------------- LOGO ----------------*/
.logo {
    width: 4rem;
    min-width: 50px;
    height: auto;
    margin: 0 0.5rem;
    transition: all 0.3s;
}

.logo:hover {
    transform: scale(1.1);
}

/*------------- END LOGO ----------------*/
